/* <------- Global styling  --------> */
:root {
    --clr-old-burgundy:#493631;
    --clr-rosewood:#5F0612;
    --clr-pastel-pink:#D49F9B;
    --clr-linen: #F3E7E2;
}

* { 
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

a { 
    cursor: pointer;
}

/* <------- Primary Navigation Bar --------> */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position:fixed;
    width: 100%;
    top:0;
    background: white;
    box-shadow: 2px 2px 10px var(--clr-rosewood);
}


.nav-menu ul {
    display: flex;
    align-items: flex-end;
}

.nav-menu li {
    list-style: none;
    padding: 10px 20px;
    font-size: 26px;
}

.nav-menu a {
    color: black;
    font-weight: 700;
    text-decoration: none;   
}

.nav-menu a:hover {
    color: var(--clr-rosewood);
    text-shadow: 0px 0px 4px var(--clr-rosewood);
    transition: all 100ms ease-in;
}

.logo-left {
    font-size: 36px;
    color: var(--clr-rosewood);
    font-weight: 700;
    text-shadow: 0px 4px 15px var(--clr-rosewood);
    text-decoration: none;
    padding-left: 20px;
}


/* <-------  Hero section (home page)  --------> */


.hero-section {
    background-color: var(--clr-linen);
    margin: auto;
    width: 80%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

.hero-top-text {
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    color: var(--clr-rosewood);
    padding-top: 20px;
}

.hero-bottom-text {
    text-align: left;
    font-size: 36px;
    font-weight: 400;
    color: black;
    padding-top: 2rem;
    padding-left: 50px;
    padding-right: 50px;
}

.chevron-container {
    display: flex;
    padding-top: 15px;
}

.fa-chevron-down {
    margin: auto;
    font-size: 24px;
    font-weight: 700;
    color: var(--clr-rosewood);
}

/* <-------  Card section (home page)  --------> */

.home-card-container {
    background-color: var(--clr-pastel-pink);
    margin: auto;
    width: 80%;
    height: auto;
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.home-card-container a {
    color: black;
    text-decoration: none;
}

.home-card {
    width: 200px;
    height: auto;
    padding: 20px;
    font-size: 24px;
    color: var(--clr-rosewood);
    background-color: var(--clr-linen);
    border: solid 2px var(--clr-rosewood);
    border-bottom: solid 10px var(--clr-rosewood);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 4px 4px 10px var(--clr-rosewood);
}


/* <-------  Foooter  --------> */

footer {
    width: 100%;
    height: 110px;
    background-color: var(--clr-old-burgundy); 
    padding: 20px 0px;  
    color: var(--clr-linen);
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-about {
    width: 200px;
    text-align: center;
}

.footer-contact {
    text-align: center;
}

.footer-copyright {
    width: 300px;
    margin: auto;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid var(--clr-linen);
    padding: 5px;
}

.social-link-container {
    width: 250px;
    height: 60px;
    display: flex;
    align-content: center;
    text-align: center;
    padding: 5px 0px;
}


.social-link {
    padding: 0px 10px;
    margin-right: 5px;
}

.fab, .far {
    font-size: 30px;
}

.social-link-container a {
    text-decoration: none;
    color: var(--clr-linen)
}

.social-link-container a:hover {
    color: var(--clr-pastel-pink)
}

.footer-heading {
    font-size: 20px;
    font-weight: 700;
    padding: 5px 0px;
}

.footer-text {
    font-size: 18px;
    padding: 5px 0px;
}

/* <-------  Media Queries  --------> */

@media only screen and (max-width: 1200px) {    
    .hero-bottom-text {
        font-size: 26px;
    }

}

@media only screen and (max-width: 750px) {    
    .hero-bottom-text {
        font-size: 20px;
    }

    .hero-top-text {
        font-size: 40px;
    }

    .home-card-container {
        flex-direction: column;
    }

    .home-card {
        padding: 40px;
        font-size: 20px;
    }

    .hero-section {
        height: 75vh;
    }

}
